<div class="ui-g">
    <div class="ui-g-12"><br /><br /><br /></div>
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <p-dataTable [value]="rates" [rows]="10" [paginator]="true">
          <p-header>List of Rates</p-header>
        <p-column field="name" header="name" sortable="true"></p-column>
        <p-column field="code" header="code" sortable="true"></p-column>
        <p-column field="rate" header="rate" sortable="true"></p-column>
      </p-dataTable>
      </div>
      <div class="ui-g-2"></div>
</div>