<h1>
    {{title}}
  </h1>
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/rates">Rates</a></li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isUser"><button class="btn navbar-btn" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </nav>


<div class="container">
    <router-outlet></router-outlet>
</div>